{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>title</title>
        <meta charset="UTF-8">
        <link href = "{% static 'website/css/product_page.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <main class="container">
 
            <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img data-image="red" class="active" src="fariesh.jpg" alt="">
            </div>


            <!-- Right Column -->
            <div class="right-column">

              <!-- Product Description -->
              <div class="product-description">
                <span>Headphones</span>
                <h1>Beats EP</h1>
                <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
              </div>

              <!-- Product Configuration -->
              <div class="product-configuration">

                <!-- Product Number -->
                <div class="product-Number">
                    <h1>numbere of element</h1>
                    
                    <select id="cars">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>

                  <div class="color-choose">
                    <div>
                      <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                      <label for="red"><span></span></label>
                    </div>
                  </div>
                </div>

              <!-- Product Pricing -->
              <div class="product-price">
                <span>148$</span>
                <a href="#" class="cart-btn">Add to cart</a>
              </div>
            </div>
          </main>
    </body>
</html>