{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TireShop - Sign Up</title>
	<link href="{% static 'website/css/signup.css' %}" rel="stylesheet">
</head>

<body>
	<div class="box">
		<form method="post" action="/signup/">
			{% csrf_token %}
			<h2>Sign Up</h2>
				<div class="inputBox">
					{{ form.name }}
					<span>Name</span>
					<i></i>
				</div>
				<div class="inputBox">
					{{ form.phone_number }}
					<span>Phone number</span>
					<i></i>
				</div>
				<div class="inputBox">
					{{ form.password }}
					<span>Password</span>
					<i></i>
				</div>
				<div class="links">
					<a href="/login">Login</a>
				</div>
				<input type="submit" value="Sign Up">
		</form>
	</div>
</body>

</html>
