body {
    background: linear-gradient(to left, #FFDD00, #00B0AC);
}

.navbar {
    background-color: #28292D;
}

#main-title {
    color: #45f3ff;
}

#search-form {
    width: 100%;
    max-width: 600px;
    min-width: 225px;
}

#search-form>svg {
    transform: scale(40) translateX(-60%) translateY(50%);
    cursor: pointer;
}

#search-form>span {
    background-color: #45f3ff;
    padding: 3px;
}

#search-form>span>input {
    width: -webkit-calc(100% - 40px);
    width:    -moz-calc(100% - 40px);
    width:         calc(100% - 40px);
    background-color: #28292D;
    color: white;
}

.dropdown-toggle {
    color: #45f3ff !important;
}

.dropdown-menu a:hover {
    color: #212529 !important;
}

#products-cart-seperator {
    width: 0px;
}

#main {
    background-color: #28292D;
}

#asearch>.text-center {
    color: #28292D;
    font-weight: bold;
    font-size: larger;
    border-bottom: 5px solid #28292D;
}

select {
    color: #45f3ff !important;
}

#land-img-cont {
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

#land-img-cont>img {
    vertical-align: middle;
}

.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@media (max-width:767px) {
    #brand-div {
        flex-basis: 20%;
    }

    #brand-div>a>b {
        display: none;
    }

    #form-div {
        margin: 0;
        flex-basis: 70%;
    }

    #products-cart-seperator {
        flex-grow: 1;
    }

    .phone-down {
        margin-top: 15px;
    }
}
