@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    background-color: #1D1D1F;
    color: white;
    font-family: 'Poppins';
}

.navbar {
    margin-top: 20px;
    background-color: rgba(53, 51, 64, 0);
}

.navbar-brand:hover b {
    color: #5BC8C5;
    transition: 0.3s;
}

.navbar-brand b {
    font-size: medium;
    transition: 0.3s;
    color: white;
}

#nav-svgs svg {
    transform: scale(1);
    transition: 0.5s;
}

#nav-svgs svg:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#navborder {
	background: linear-gradient(to right,  rgba(105, 105, 105, 0) 0%,rgba(210, 210, 210, 1) 50%,rgba(105, 105, 105, 0) 100%);
    height: 1px;
    width: 100%;
    top: 80px;
    z-index: 2;
    position: fixed;
}

.btn-fill {
    font-weight: 600;
    font-size: 16px;
    background-color: #5BC8C5;
    color: #191C1B;
}

.btn-fill:hover {
    background-color: #399e9a;
    color: #191C1B;
}


#landing img {
    filter: brightness(20%);
    width: 100%;
    z-index: -1;
    position: absolute;
}

#landing-cont {
    height: 99vh;
    padding-top: 125px;
}

#landing-cont h4 {
    color: #5BC8C5;
    font-weight: bold;
}

#landing-cont h1 {
    font-weight: bold;
    font-size: 60px;
}

.btn-group {
    width: 40%;
}

.btn-group .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #414141;
    opacity: 0.8;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.btn-group .btn:hover {
    opacity: 1;
    transition: 0.3s;
}

#search-box {
    width: 60%;
    border-radius: 10px;
    background-color: white;
    padding: 4px;
}

#search-box input {
    min-height: 50px;
    border: 0;
}

#search-box input:focus {
    outline: none;
}

#type {
    visibility: hidden;
}

#search-box button {
    background-color: #2E2F2E;
    color: white;
    border: 0;
    border-radius: 8px;
    height: 100%;
    width: 106px;
}

#search-box button:hover {
    background-color: #1e1e1e;
}

#search-box select {
    color: #A2A2A2;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

#search-box select:hover {
    cursor: pointer;
    color: rgb(59, 59, 59);
    transition: 0.3s;
}

#search-box select:focus {
    outline: none;
}

#pattern-svg {
    padding: 0px;
    border-left: 1px solid #A2A2A2;
}

#pattern-select {
    margin-left: -5px;
}

#product-types, #aboutus {
    padding-left: 7%;
    padding-right: 7%;
}

#product-types h6, #products h6 {
    color: #5BC8C5;
}

#product-types .m-0 div {
    background-color: #353340;
    color: white;
    min-width: 30%;
    transition: 0.5s;
}

#product-types .m-0 div:hover {
    background-color: #5BC8C5;
    color: #191C1B;
    transition: 0.5s;
}

#product-types .m-0 div svg {
    max-width: 125px;
}

#products {
    padding-left: 4%;
    padding-right: 4%;
}

#all-btn {
    background-color: #5BC8C5;
}

.product {
    width: 295px;
    height: 455px;
    background-color: #353340;
    border-radius: 20px;
    margin-right: 20px;
}

.product .btn {
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    background-color: #5BC8C5;
    color: #191C1B;
}

.product .price {
    font-weight: 700;
    font-size: 20px;
    color: #5BC8C5;
    margin: 0;
}

#partnership img {
    position: absolute;
    filter: brightness(20%);
    width: 100%;
    z-index: -1;
}

#partnership>div {
    padding-top: 100px;
}

#partnership>div p {
    width: 40%;
}

#partnership>div button {
    margin-top: 35px;
    width: 193px;
    height: 40px;
}

#aboutus>p {
    color: #5BC8C5;
}

footer {
    background-color: #0C0C0C;
}

footer p {
    font-size: 14px;
    padding-right: 15px;;
}

footer .row {
    padding-left: 7%;
    padding-right: 7%;
}

footer a {
    color: white;
    transition: 0.4s;
}

footer a:hover {
    color: #5BC8C5;
    transition: 0.4s;
    cursor: pointer;
}

footer a:hover svg path {
    fill: #5BC8C5;
    transition: 0.4s;
}

footer a svg path {
    fill: white;
    transition: 0.4s;
}

@media (max-width:767px) {}
