@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Italic.ttf");
    font-style: italic;
}

body {
    background-color: #1D1D1F;
    color: white;
    padding-left: 6%;
    padding-right: 6%;
}

.navbar {
    background-color: #353340;
}

.navbar a,
.navbar b {
    font-size: 14px;
    color: white;
}

.dropdown-menu a:hover {
    color: #212529 !important;
}

.navbar-brand:hover b {
    color: #5BC8C5;
    transition: 0.3s;
}

.navbar-brand b {
    font-size: medium;
    transition: 0.3s;
}

#nav-centers a:hover b {
    color: #5BC8C5;
    transition: 0.3s;
}

#nav-centers a b {
    transition: 0.3s;
}

#nav-svgs svg {
    transform: scale(1);
    transition: 0.5s;
}

#nav-svgs svg:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#landing .col-4 h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
}

#robust {
    color: #5BC8C5;
}

#landing .col-8 h1 {
    position: absolute;
    transform: translateY(-5%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11.3vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    -webkit-text-fill-color: #1D1D1F;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgba(193, 203, 195, 0.06);
}

#landing img {
    position: relative;
    max-width: 100%;
}

#landing .btn {
    font-family: 'Inter';
    background-color: #45F3FF;
    color: #111111;
    border: 0;
}

#landing .btn:hover {
    background-color: #2abcc6;
}

#product-types h6 {
    color: #45F3FF;
}

#product-types .m-0 div {
    background-color: #353340;
    min-width: 30%;
}

#product-types .m-0 div svg {
    max-width: 125px;
}

@media (max-width:767px) {}
